.author {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: var(--medium-gray);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}
