.container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
    cursor: pointer;
    color: var(--medium-gray);
}

.checkbox {
    accent-color: var(--medium-gray);
    width: 24px;
    height: 24px;
    margin: 0;
    cursor: pointer;
}
